
@{
 
    Layout = "_Layout.cshtml";

    var conexion = Database.Open("disco"); 
    string query = String.Format("select top 7 * from Producto order by Id desc");
    var records = conexion.Query(query);
    conexion.Close();
    dynamic[] data = new dynamic[records.Count()];
    data = records.ToArray();
}


<h1>Novedades</h1>

<div class="row">
    <div class="col-md-6">
        <a href="Detalle?Id=@data.ElementAt(0).Id"><img src="@data.ElementAt(0).Portada" alt="Caratula" class="img-responsive" /></a>
        
    </div>
    <div class="col-md-6">
        <div class="detalle">
            <br />
            
                
                <p>@data.ElementAt(0).Referencia</p>
                <p>@data.ElementAt(0).Titulo</p>
                <p>@data.ElementAt(0).Descripcion</p>
                <p>@data.ElementAt(0).Estrellas</p>
                <p># Comentarios</p>
                <p>@data.ElementAt(0).Precio$ <span class="carrito btn btn-default btn-xs" name="@data.ElementAt(0).Id"><img src="img/cart.png" alt="carrito" />Comprar</span> </p>
                <span name="@String.Format("{0}{1}",data.ElementAt(0).Id,data.ElementAt(0).Id)" hidden>@MyHelpers.PaypalButton(data.ElementAt(0).Titulo, (float)data.ElementAt(0).Precio)</span>
                <input value="0" type="number" class="rating" style="" min="0" max="5" step=0.5 data-container-class='text-left' data-size="sm" data-stars="5" data-glyphicon=0>
        </div>
    </div>
</div>
<!--#########################################################################################-->
@for(var i=1;i<4;i++){
<div class="row fila" >
    <div class="col-md-6" style="padding:0px; margin:0px;">
        <div class="col-xs-7">
            <a href="Detalle?Id=@data.ElementAt(i).Id"><img src="@data.ElementAt(i).Portada" alt="Caratula" class="img-responsive" style="width: 200px; height: 151px;" /></a>
            <input value="0" type="number" class="rating" style="" min="0" max="5" step=0.5 data-container-class='text-left' data-size="xs" data-stars="5" data-glyphicon=0>
            
        </div>
        
        <div class="col-xs-5">
            @data.ElementAt(i).Referencia<br />
            @data.ElementAt(i).Titulo <br />
            @data.ElementAt(i).Precio$ <span class="carrito btn btn-default btn-xs" name="@data.ElementAt(i).Id"><img src="img/cart.png" alt="carrito" />Comprar</span>  <br />
            <span name="@String.Format("{0}{1}",data.ElementAt(i).Id,data.ElementAt(i).Id)" hidden>@MyHelpers.PaypalButton(data.ElementAt(i).Titulo, (float)data.ElementAt(i).Precio)</span>

            # Comentarios
        </div>
        
        
    </div>

    @try{
        double precio = @data.ElementAt(i+3).Precio;

    <div class="col-md-6" style="padding:0px; margin:0px;">
        <div class="col-xs-7" >
            <a href="Detalle?Id=@data.ElementAt(i+3).Id"><img src="@data.ElementAt(i+3).Portada" alt="Caratula" class="img-responsive" style="width: 200px; height: 151px;" /></a>
            <input value="0" type="number" class="rating" style="" min="0" max="5" step=0.5 data-container-class='text-right' data-size="xs" data-stars="5" data-glyphicon=0>
            
        </div>
     <!--delete--> 
        <div class="col-xs-5">
            @data.ElementAt(i+3).Referencia<br />
            @data.ElementAt(i+3).Titulo <br />
            @precio$ <span class="carrito btn btn-default btn-xs" name="@data.ElementAt(i+3).Id"><img src="img/cart.png" alt="carrito" />Comprar</span>  <br />
            <span name="@String.Format("{0}{1}",data.ElementAt(i+3).Id,data.ElementAt(i+3).Id)" hidden>@MyHelpers.PaypalButton(data.ElementAt(i+3).Titulo, (float)data.ElementAt(i+3).Precio)</span>

             # Comentarios
        </div>
    </div>

}catch(Exception e){
    <h1 class="carita">☺</h1>
}
   


</div>
    }     <!--delete--> 
<!--#########################################################################################-->
<div id="mas-discos"><a href="Listado?pagina=1" onclick="cargardatados();" >Más Discos...</a></div>


