@{
    
<text> @Request.Form["desc"] </text>
<text> @Request.Form["ref"] </text>
<text> @Request.Form["titulo"] </text>
<text> @Request.Form["portada"] </text>
<text> @Request.Form["precio"] </text>
<text> @Request.Form["files"] </text>

}

<p>Hi from the CRUD file!!</p>